.gallery {
    border: 1px solid #8e8e8e;
}

.galleryContainer {
    display: grid;
    grid-template-columns: 1fr; /* Cada item ocupará 100% da largura */
    gap: 20px;
    padding: 20px;
}

.activityCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.activityCard h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.activityCard p {
    margin-bottom: 20px;
}

.activityCard a {
    color: #f21b3f;
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    border:1px solid #f21b3f;
    border-radius: 6px;
    transition: .3s;
}

.activityCard a:hover {
    color: #fff;
    background-color: #f21b3f;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links p {
    margin: 0;
}

.links div {
    display: flex;
    gap: 10px;
}

.deleteButton {
    padding: 8px;
    border-radius: 8px;
}

.deleteButton:hover {
    background-color: lightgray;
    color: #fff;
}